.top_navigation_bar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.top_navigation_bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.top_navigation_bar a:hover {
    background-color: #ddd;
    color: black;
}
.top_navigation_bar a.active {
    background-color: #4CAF50;
    color: white;
}