<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}">
    </head>

    <body>
        <div class="login_page">
            <div class="login_box">
                <h2>Login</h2>
                <form id="login-form">
                    <div class="username_input">
                        <input type="text" name="username" required>
                        <label>Username</label>
                    </div>
                    <div class="password_input">
                        <input type="password" name="password" required>
                        <label>Password</label>
                    </div>
                    <button type="submit" class="login_button" id="login_page_button">Login</button>
                    <br>
                    <a href="register" class="register_link">Don't have an account? Register</a>
                </form>

                {% if request.query_params.get('error') %}
                <p style="color: red;">{{ request.query_params.get('error') }}</p>
                {% endif %}
            </div>
            <p id="error" style="color: red; margin-top: 10px;"></p>
        </div>

        <script>
            document.getElementById("login-form").addEventListener("submit", async (e) => {
                e.preventDefault();
                
                const errorBox = document.getElementById("error");
                errorBox.textContent = "";

                try {

                    const response = await fetch("/login", {method: "POST", body: new FormData(e.target)});

                    const data = await response.json();

                    if (response.ok) {
                        window.location.href = "/dashboard";
                    } else {
                        errorBox.textContent = data.detail || "Login failed";
                    }
                } catch (err) {
                    errorBox.textContent = "Server error. Please try again."
                }
            });
        </script>
    </body>
</html>